.tombol-kembali {
    border: 1px solid rgb(255, 84, 112);
    color: black;
    background-color: pink;
/*                 atas kanan bawah kiri*/
    border-radius: 10px  10px;
/*  border-radius: 8px  8px; */
/*                 atas bawah */
/*          atas kanan bawah kiri*/
/*margin: 2px  4px   2px   4px; */
/*  margin: 2px  2px; */
/*          atas bawah */
    margin-bottom: 6px;
    padding: 8px 15px;
}
.tombol-kembali:hover {
    background-color: rgb(255, 84, 112);
}
.tombol-input {
    border: 1px solid rgb(255, 84, 112);
    color: black;
    background-color: pink;
    border-radius: 10px 10px;
    margin-bottom: 6px;
    padding: 8px 15px;
}
/*tombol berubah ketika didekatkan */
.tombol-input:hover {
    background-color: rgb(255, 84, 112);
}
.my-table {
    color: black;
    border-collapse: collapse;
}
.my-table th,td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.buttonedit {
    border: 1px solid rgb(255, 84, 112);
    color: black;
    background-color: pink;
    border-radius: 8px  8px   8px   8px;
    margin-bottom: 6px;
    padding: 8px 15px;
}
.buttonedit:hover {
    background-color: rgb(255, 84, 112);
}
.buttondelete {
    border: 1px solid rgb(255, 84, 112);
    color: black;
    background-color: pink;
    border-radius: 8px  8px   8px   8px;
    margin-bottom: 6px;
    padding: 8px 15px;
}
.buttondelete:hover {
    background-color: rgb(255, 84, 112);
}
.my-table th,td{
    background-color: rgb(255, 207, 215);
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(255, 84, 112); 
}
